{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block title %}Author Login{% endblock %}

{% block nav %}{% include "nav.html" %}{% endblock %}

{% block content %}
<main class="row">
  <form class="offset-md-2 col-md-8" method="POST" action="{{ url_for('.login') }}" role="form">
    <h1>Author Registration</h1>
    {% include '_flashmessages.html' %}
    {{ form.hidden_tag() }}
    {{ render_field(form.email, class='form-control') }}
    {{ render_field(form.password, class='form-control') }}
    <button class="btn btn-primary">Log in</button>
  </form>
</main>
{% endblock %}}